{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:esbenp.prettier-vscode/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "esbenp.prettier-vscode"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
