body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  position: relative;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(40, 40px); /* 40 columns */
  grid-template-rows: repeat(20, 40px);   /* 60 rows */
  gap: 0px;
  width: 100%;
  overflow: scroll;
  /* width: 80vw;  */
  height: 90vh; /* Adjust the container height as needed */
}

.grid-item {
  height: 40px;
  width: 40px;
  border: none;
  position: relative;
}

.unit {
  position: absolute;
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 2;
  top: 0;
  left: 0;
}

.unit-image {
  pointer-events: none;
  height: 40px;
  width: 40px;
}

.hp {
  font-size: 10px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  right: -28px;
  top: -40px;
  padding: 1px;
  background-color: black;
}

.terrain-image {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.path {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  pointer-events: none;
}

.path__highlighted {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.path__highlighted--attack {
  background-color: rgba(179, 12, 12, 0.5);
  z-index: 2;
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

.color-green {
  color: green;
}

.color-yellow {
  color: yellow;
}


.terrain-field {
  background-color: lightgreen;
  
}

.terrain-water {
  background-color: blue;
  
}

.terrain-forest {
  background-color: darkgreen;
  
}

.flipped-right {
  transform: scaleX(-1);
}

.road--vertical {
  transform: rotate(90deg);
}

.road--right-up {

}

.road--right-down {
  transform: rotate(90deg);
}

.road--left-up {
  transform: rotate(-90deg);
}

.road--left-down {
  transform: rotate(180deg);
}


.overlay-image {
  z-index: 1;
}

.stats {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  height: 40px;
  background-color: bisque;
  z-index: 10000;
}

.stats-item {
  font-weight: bold;
  margin-right: 12px;
  display: flex;
  align-items: center;
  padding-right: 2px;
}
.stats-button {
  margin-right: 12px;
  padding-right: 2px;
  border: none;
  background-color: black;
  color: white;
}

.stats-button:hover {
  background-color: darkslategray;
}

.hasMoved {
  filter: brightness(50%);
}

.hidden {
  visibility: hidden;
}

#unit-action-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9000;
  cursor:pointer;
}

.unit-action-modal__option {
  text-align: center;
  margin: 6 2 6 2;
  cursor: pointer;
}

.unit-action-modal__option:hover {
  background-color: rgb(83, 112, 138);
}

.delimeter {
  border-bottom: 1px solid black;
}

.global-modals {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-modal {
  position: static;
  width: 40vw;
  height: 40vh;
}

.start-modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameover-modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameover-modal__logo {
  margin-top: 12px;
  width: 100%;
  height: 100%;
}

.gameover-modal__logo > img {
  width: 100%;
  height: 100%;
}

.start-modal__logo {
  margin-top: 12px;
  width: 50%;
  height: 50%;
}

.start-modal__logo > img {
  width: 100%;
  height: 100%;
}

.start-modal__button {
  border: 0;
  width: 20vw;
  padding: 12px;
  margin-top: 20px;
  transition: all 0.3s ease; /* Smooth animation */
}

.start-modal__button:hover {
  transform: translateY(-5px); /* Moves the button up */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Adds a shadow */
  background-color: aliceblue;
}

.start-modal__button:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

