body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  position: relative;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(40, 40px); /* 40 columns */
  grid-template-rows: repeat(20, 40px);   /* 60 rows */
  gap: 0px;
  width: 100%;
  overflow: scroll;
  /* width: 80vw;  */
  height: 90vh; /* Adjust the container height as needed */
}

.grid-item {
  height: 40px;
  width: 40px;
  border: none;
  position: relative;
}

.unit {
  position: absolute;
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 2;
  top: 0;
  left: 0;
}

.unit-image {
  pointer-events: none;
  height: 40px;
  width: 40px;
}

.hp {
  font-size: 10px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  right: -28px;
  top: -40px;
  padding: 1px;
  background-color: black;
}

.terrain-image {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.path {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  pointer-events: none;
}

.path__highlighted {
  background-color: rgba(128, 0, 128, 0.441);
  z-index: 2;
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

.color-green {
  color: green;
}

.color-yellow {
  color: yellow;
}


.terrain-field {
  background-color: lightgreen;
  
}

.terrain-water {
  background-color: blue;
  
}

.terrain-forest {
  background-color: darkgreen;
  
}

.flipped-right {
  transform: scaleX(-1);
}

.overlay-image {
  z-index: 1;
}

.stats {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  height: 40px;
  background-color: bisque;
  z-index: 10000;
}

.stats-item {
  font-weight: bold;
  margin-right: 12px;
  display: flex;
  align-items: center;
  padding-right: 2px;
}
.stats-button {
  margin-right: 12px;
  padding-right: 2px;
  border: none;
  background-color: black;
  color: white;
}

.stats-button:hover {
  background-color: darkslategray;
}

.hasMoved {
  filter: brightness(50%);
}

.hidden {
  visibility: hidden;
}

#unit-action-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9000;
}
